@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

mat-cell,
li,
body,
mat-label,
span,
mat-option,
mat-header-cell {
  font-family: "Cairo", serif;
}

.my-snackbar {
  font-family: "Cairo", serif;
  font-size: larger;
}

//  loding css

.myContainer {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.myLoader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.myLoader--dot {
  animation-name: myLoader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.myLoader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.myLoader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.myLoader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.myLoader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.myLoader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.myLoader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.myLoader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.myLoader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes myLoader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
