<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title"> </app-breadcrumb>
    </div>

    <div class="row">
      <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="p-2">
              <h3>المجموع : {{ totalDenar | number }} دع</h3>
            </div>
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>البحث</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input">
                        <i class="material-icons search-icon" matSuffix>
                          search</i
                        >
                      </label>
                      <input
                        placeholder="اكتب شيء للبحث"
                        type="text"
                        matInput
                        (keyup)="applyFilter($event)"
                        class="browser-default search-field"
                        aria-label="Search box"
                      />
                    </li>
                  </ul>
                </div>

                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip=""></div>
                    </li>

                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip=" تسجيل زبون">
                        <button
                          type="button"
                          class="btn btn-warning"
                          (click)="addNew()"
                        >
                          <i class="fa fa-plus"></i>
                          تسجيل زبون
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-cell advance-table"
                  >
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index">
                        <span class="mobile-label"> التسلسل:</span>

                        {{ pagi.pageIndex * pagi.pageSize + i + 1 }}
                      </mat-cell> </ng-container
                    ><ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef>
                        اسم الزبون
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> اسم الزبون:</span>
                        {{ row.title }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="address">
                      <mat-header-cell *matHeaderCellDef>
                        العنوان
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> العنوان:</span>
                        {{ row.address }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                      <mat-header-cell *matHeaderCellDef>
                        رقم الهاتف
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> رقم الهاتف:</span>
                        {{ row.phoneNumber }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="initBalance">
                      <mat-header-cell *matHeaderCellDef>
                        بداية الرصيد
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> بداية الرصيد :</span>
                        <div class="dispVert">
                          <span
                            [style.color]="row.initBalance < 0 ? 'red' : ''"
                          >
                            {{ row.initBalance | number }} دع
                          </span>
                        </div>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="denar">
                      <mat-header-cell *matHeaderCellDef>
                        الرصيد الحالي
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الرصيد الحالي:</span>
                        <div class="dispVert">
                          <span [style.color]="row.curBalance < 0 ? 'red' : ''">
                            {{ row.curBalance | number }} دع
                          </span>
                        </div>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0"
                        >الاجراء</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="pr-0"
                      >
                        <button
                          mat-icon-button
                          color="secondry"
                          (click)="$event.stopPropagation()"
                          (click)="detailsProject(row)"
                          class="tbl-action-btn"
                          matTooltip="التفاصيل"
                        >
                          @if(!row.showSpinner){
                          <app-feather-icons
                            *ngIf=""
                            [icon]="'info'"
                            [class]="'tbl-fav-edit'"
                          >
                          </app-feather-icons>
                          }@else {
                          <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          }
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="editCall(row)"
                          class="tbl-action-btn"
                          matTooltip="تعديل"
                        >
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          >
                          </app-feather-icons>
                        </button>

                        @if(row.curBalance === 0){
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="deleteItem(i, row)"
                          class="tbl-action-btn"
                          matTooltip="حذف"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          >
                          </app-feather-icons>
                        </button>
                        }
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                  </table>
                  <!-- Loading spinner -->

                  @if(showSpinner){
                  <div class="tbl-spinner">
                    <mat-progress-spinner
                      color="accent"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>

                  <div
                    class="no-results"
                    [style.display]="
                      dataSource.filteredData.length === 0 ? '' : 'none'
                    "
                  >
                    No results
                  </div>
                  }
                  <mat-paginator
                    #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="2">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>{{ caption }}</h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="selectedIndex = 0"
                        >
                          <i class="fa fa-arrow-right"></i> رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="m-4">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> اسم الزبون </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="varAgent.title"
                          placeholder="اسم الزبون"
                          class="fs-5"
                          required
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> العنوان </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="varAgent.address"
                          placeholder="العنوان"
                          class="fs-5"
                          required
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> رقم الهاتف </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="varAgent.phoneNumber"
                          placeholder="رقم الهاتف"
                          class="fs-5"
                          required
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> بداية الرصيد بالدولار </mat-label>
                        <input
                          matInput
                          type="number"
                          [(ngModel)]="varAgent.initDollar"
                          placeholder="بداية الرصيد بالدولار"
                          required
                          (keyup.enter)="
                            varAgent.initDollar = varAgent.initDollar * 1000
                          "
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <button
                        class="btn-space"
                        [disabled]="
                          varAgent.title === undefined ||
                          varAgent.initDollar === undefined ||
                          varAgent.address === undefined
                        "
                        mat-raised-button
                        color="primary"
                        (click)="onSubmit()"
                      >
                        حفظ البيانات
                      </button>
                      <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="selectedIndex = 0"
                      >
                        الغاء
                      </button>
                    </div>
                  </div>
                </div>

                @if(showOthers){

                <div>
                  <h6 class="social-login-title m-5">
                    اسم الدخول وكلمة المرور للزبون
                  </h6>

                  <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> اسم الدخول </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="varAgent.loginName"
                          placeholder="اسم الدخول"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                      <button
                        class="btn-space"
                        [disabled]="varAgent.loginName === undefined"
                        mat-raised-button
                        (click)="onSaveLoginName()"
                        color="primary"
                      >
                        تسجيل اسم الدخول
                      </button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                      <button
                        class="btn-space"
                        [disabled]="!varAgent.hasLoginName"
                        mat-raised-button
                        color="accent"
                        (click)="onResetPassword()"
                      >
                        تغيير كلمة المرور الى 12345
                      </button>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
