::ng-deep .mat-mdc-tab-group > .mat-mdc-tab-header {
  display: none;
}
div.col-xl-9,
div.col-xl-6,
div.col-xl-3,
div.col-xl-2,
div.col-xl-8,
div.col-xl-4 {
  margin-top: -25px;
}

mat-option,
button,
mat-select {
  font-family: "Cairo", serif;
}

p span {
  display: block;
}
mat-header-cell {
  font-weight: bolder;
}
.mat-column-seq {
  flex: 0 0 50px;
}

.mat-column-lastOperation {
  flex: 0 0 250px;
}

.mat-column-count {
  flex: 0 0 50px;
}

.mat-column-denar {
  flex: 0 0 130px;
}

.denar {
  display: block;
  color: orangered;
}
.dollar {
  display: block;
  color: green;
}
.dispVert {
  display: flex;
  flex-direction: column;
}

p span {
  display: inline;
}

h5 span {
  display: inline;
}
