::ng-deep .mat-mdc-tab-group > .mat-mdc-tab-header {
  display: none;
}
div.col-xl-9,
div.col-xl-6,
div.col-xl-3,
div.col-xl-2,
div.col-xl-8,
div.col-xl-4 {
  margin-top: -2px;
}

mat-option,
button,
mat-select {
  font-family: "Cairo", serif;
}

p span {
  display: block;
}
mat-header-cell {
  font-weight: bolder;
}
.mat-column-seq {
  flex: 0 0 50px;
}

.mat-column-title {
  flex: 0 0 250px;
}
.mat-column-total {
  flex: 0 0 100px;
}
.mat-column-quantity {
  flex: 0 0 80px;
}
.mat-column-downloadWeight {
  flex: 0 0 150px;
}
.mat-column-uploadWeight {
  flex: 0 0 150px;
}
// .mat-column-quantity {
//   flex: 0 0 100px;
// }
// .mat-column-salePrice {
//   flex: 0 0 100px;
// }

.newLine {
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.move11 {
  animation-name: move11;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move11 {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
