<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title"> </app-breadcrumb>
    </div>

    <div class="row">
      <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>البحث</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input">
                        <i class="material-icons search-icon" matSuffix>
                          search</i
                        >
                      </label>

                      <input
                        #searchKey
                        placeholder="اكتب شيء للبحث"
                        type="text"
                        matInput
                        (keyup)="applyFilter($event)"
                        class="browser-default search-field"
                        aria-label="Search box"
                      />
                    </li>
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="  بحث متقدم">
                        <button
                          type="button"
                          class="btn btn-info"
                          (click)="showAdvanceSearch = !showAdvanceSearch"
                        >
                          <i class="bi bi-binoculars-fill"></i>
                          بحث متقدم
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="تسجيل شراء مواد اولية">
                        <button
                          type="button"
                          class="btn btn-warning"
                          (click)="addNew()"
                        >
                          <i class="fa fa-plus"></i>
                          تسجيل شراء مواد اولية
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body overflow-auto">
                <div *ngIf="showAdvanceSearch" class="row move11">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label> تاريخ البحث من </mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker1"
                        (focus)="picker1.open()"
                        [(ngModel)]="dateSearchFrom"
                        (focus)="picker1.open()"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label> تاريخ البحث الى </mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker2"
                        [(ngModel)]="dateSearchTo"
                        (focus)="picker2.open()"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
                  <div
                    class="col-xl-2 col-lg-2 col-md-12 col-sm-12"
                    matTooltip=" بحث   خلال فترة"
                  >
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="doSearch()"
                      [disabled]="dateSearchTo === '' || dateSearchFrom === ''"
                    >
                      <i class="fa fa-search"></i>
                      بحث
                      <div
                        *ngIf="showSpinner"
                        class="spinner-border spinner-border-sm"
                      ></div>
                    </button>
                  </div>
                </div>

                <div class="responsive_table">
                  <div
                    class="row"
                    style="width: 100%; padding: 10px"
                    *ngIf="auth.role !== 'StoreKeeper'"
                  >
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                      <p class="fs-5">
                        <span style="display: block">
                          مجموع المشتريات : {{ totalPurchese | number }}
                        </span>
                        <span style="display: block">
                          مجموع الواصل: {{ totalPaid | number }}
                        </span>
                      </p>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-6 col-sm-6">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-end">اسم المادة</th>
                            <th
                              class="text-end"
                              *ngFor="let item of countsList"
                            >
                              {{ item.title }}
                            </th>
                          </tr>

                          <!-- 
                          
GRANT ALL PRIVILEGES ON joomla.* TO 'joomlauser'@'localhost' IDENTIFIED BY '7h2Y8Laa8w8imU0Kr4G6j';

    CREATE USER 'joomla_user'@'localhost' IDENTIFIED BY '12345678';
    GRANT ALL PRIVILEGES ON joomla_db.* TO 'joomla_user'@'localhost';
    FLUSH PRIVILEGES;
    EXIT;

    GRANT ALL ON joomladb.* TO 'joomlauser'@'localhost' IDENTIFIED BY '12345678';

-->
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-end fs-6">الاعداد</td>
                            <td
                              class="text-end fs-5"
                              *ngFor="let item of countsList"
                            >
                              {{ item.quantity | number }}
                            </td>
                          </tr>

                          <tr>
                            <td class="text-end fs-6">المجموع</td>
                            <td
                              class="text-end fs-5"
                              *ngFor="let item of countsList"
                            >
                              {{ item.price | number }}
                            </td>
                          </tr>

                          <tr>
                            <td class="text-end fs-6">المعدل</td>
                            <td
                              class="text-end fs-5"
                              *ngFor="let item of countsList"
                            >
                              {{
                                item.price / item.quantity | number : "1.2-2"
                              }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-cell advance-table"
                  >
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index">
                        <span class="mobile-label"> التسلسل:</span>
                        {{ i + 1 }}</mat-cell
                      > </ng-container
                    ><ng-container matColumnDef="agentTitle">
                      <mat-header-cell *matHeaderCellDef>
                        اسم البائع
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> اسم البائع:</span>
                        {{ row.agentTitle }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="invoiceDate">
                      <mat-header-cell *matHeaderCellDef>
                        تاريخ الشراء
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> تاريخ الشراء:</span>
                        <p class="d-flex flex-column">
                          <span>
                            {{ row.fatoraDate | date : "yyyy-MM-dd" }}
                          </span>
                          {{ row.dateAt | date : "yyyy-MM-dd hh:mm a" }}
                        </p>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="invoiceCode">
                      <mat-header-cell *matHeaderCellDef>
                        رقم الوصل
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> رقم الوصل:</span>
                        {{ row.id }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="totalCost">
                      <mat-header-cell *matHeaderCellDef>
                        كلفة الوصل
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> كلفة الوصل:</span>
                        {{ row.totalPrice | number }} دع
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="paidAmount">
                      <mat-header-cell *matHeaderCellDef>
                        المبلغ المدفوع
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> المبلغ المدفوع:</span>
                        {{ row.paidAmount | number }} دع
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                      <mat-header-cell *matHeaderCellDef>
                        الملاحضات
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الملاحضات:</span>
                        {{ row.comments }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="items">
                      <mat-header-cell *matHeaderCellDef>
                        المواد
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> المواد:</span>
                        <table class="table table-bordered">
                          <tr *ngFor="let item of row.items">
                            <td>{{ item.rawMaterialTitle }}</td>
                            <td>{{ item.quantity | number }}</td>
                          </tr>
                        </table>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0"
                        >الاجراء</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="pr-0"
                      >
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="editCall(row)"
                          class="tbl-action-btn"
                          matTooltip="تعديل"
                        >
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          >
                          </app-feather-icons>
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="deleteItem(i, row)"
                          class="tbl-action-btn"
                          matTooltip="حذف"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          >
                          </app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      (click)="showInfo(row)"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                  </table>
                  <!-- Loading spinner -->
                  <div *ngIf="showSpinner" class="tbl-spinner">
                    <mat-progress-spinner
                      color="accent"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <div
                    *ngIf="showSpinner"
                    class="no-results"
                    [style.display]="
                      dataSource.filteredData.length === 0 ? '' : 'none'
                    "
                  >
                    No results
                  </div>
                  <mat-paginator
                    #paginator
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="2" *ngIf="selectedIndex === 1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>{{ caption }}</h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="selectedIndex = 0"
                        >
                          <i class="fa fa-arrow-right"></i> رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <app-my-auto-complete
                      placeholder="اسم البائع"
                      [itemsList]="agentsList"
                      [initValue]="varFatora.agent"
                      (outputValue)="agentFN($event)"
                      dataKey="title"
                    ></app-my-auto-complete>
                    <h6 *ngIf="newAgent" style="color: red">اسم البائع جديد</h6>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                    <div *ngIf="varFatora.agent > 0">
                      <h6
                        *ngIf="!agentSpiner && auth.role !== 'StoreKeeper'"
                        [ngStyle]="
                          agentBalance < 0
                            ? { color: 'red' }
                            : { color: 'blue' }
                        "
                      >
                        الرصيد : {{ agentBalance | number }} دع
                      </h6>
                      <div
                        *ngIf="agentSpiner"
                        class="spinner-border spinner-border-sm"
                      ></div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label> التاريخ</mat-label>
                      <input
                        matInput
                        class="fs-5"
                        [matDatepicker]="picker1"
                        [(ngModel)]="varFatora.fatoraDate"
                        (focus)="picker1.open()"
                        required
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker1"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div
                    class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3"
                    *ngIf="auth.role !== 'StoreKeeper'"
                  >
                    <h5>المجموع : {{ totalInput | number }} دع</h5>
                  </div>
                </div>

                <h6 class="social-login-title">المواد</h6>
                <div class="body overflow-auto">
                  <div class="responsive_table">
                    <table
                      mat-table
                      [dataSource]="dSItems"
                      class="mat-cell advance-table"
                    >
                      <ng-container matColumnDef="seq">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <span class="mobile-label"> التسلسل:</span>
                          {{ i + 1 }}</mat-cell
                        >
                      </ng-container>
                      <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>
                          اسم المادة
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> اسم المادة:</span>
                          <app-my-auto-complete
                            style="width: 100%; margin-top: 13px"
                            placeholder=""
                            [itemsList]="materialList"
                            [initValue]="row.rawMaterial"
                            (outputValue)="MatrialFN($event, row)"
                            dataKey="title"
                            keyId="id"
                          ></app-my-auto-complete>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="uploadWeight">
                        <mat-header-cell *matHeaderCellDef>
                          الوزن قبل التفريغ
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الوزن قبل التفريغ :</span>
                          <mat-form-field
                            class="example-full-width mt-3"
                            appearance="outline"
                          >
                            <input
                              matInput
                              [(ngModel)]="row.uploadWeight"
                              type="number"
                              placeholder="   الوزن قبل التفريغ"
                              (input)="onChangeRow($event)"
                              required
                            />
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="downloadWeight">
                        <mat-header-cell *matHeaderCellDef>
                          الوزن بعد التفريغ
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الوزن بعد التفريغ :</span>
                          <mat-form-field
                            class="example-full-width mt-3"
                            appearance="outline"
                          >
                            <input
                              matInput
                              [(ngModel)]="row.downloadWeight"
                              type="number"
                              (keyup.enter)="addNewItems()"
                              placeholder="  الوزن بعد التفريغ"
                              (input)="onChangeRow($event)"
                              required
                            />
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>
                          الوزن الصافي
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الوزن الصافي :</span>
                          {{ row.quantity }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="unitPrice">
                        <mat-header-cell *matHeaderCellDef>
                          سعر الشراء
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> سعر الشراء :</span>
                          <mat-form-field
                            class="example-full-width mt-3"
                            appearance="outline"
                          >
                            <input
                              matInput
                              [(ngModel)]="row.unitCostPrice"
                              type="number"
                              placeholder="سعر الشراء "
                              required
                              (input)="onChangeRow($event)"
                              (keyup.enter)="
                                row.unitCostPrice = row.unitCostPrice * 1000;
                                onChangeRow($event)
                              "
                            />
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef>
                          المجموع
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> المجموع:</span>

                          <span class="denar"
                            >{{
                              row.unitCostPrice * row.quantity | number
                            }}
                            دع</span
                          >
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="pr-0">
                          <div class="m-l-10" matTooltip="اضافة مادة ">
                            <button
                              matTooltip="اضافة مادة"
                              type="button"
                              class="btn btn-warning"
                              (click)="addNewItems()"
                              tabindex="-1"
                            >
                              <i class="fa fa-plus"></i>
                              اضافة مادة
                            </button>
                          </div>
                        </mat-header-cell>
                        <mat-cell
                          *matCellDef="let row; let i = index"
                          class="pr-0"
                        >
                          <button
                            mat-icon-button
                            color="accent"
                            (click)="$event.stopPropagation()"
                            (click)="deleteFatoraItem(i, row)"
                            class="tbl-action-btn"
                            matTooltip="حذف"
                          >
                            <app-feather-icons
                              [icon]="'trash-2'"
                              [class]="'tbl-fav-delete'"
                            >
                            </app-feather-icons>
                          </button>

                          {{ row.dateAt | date : "yyyy-MM-dd hh:mm a" }}
                        </mat-cell>
                      </ng-container>
                      <mat-header-row
                        *matHeaderRowDef="disColumnsItems"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: disColumnsItems"
                        [style.cursor]="'pointer'"
                      >
                      </mat-row>
                    </table>
                  </div>
                </div>

                <div class="row">
                  <div
                    class="col-xl-4 col-lg-4 col-md-12 col-sm-12"
                    *ngIf="auth.role !== 'StoreKeeper'"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>
                        المبلغ المدفوع
                        <span
                          *ngIf="varFatora.paidAmount > 0"
                          style="color: red; font-size: 150%"
                        >
                          (
                          {{ varFatora.paidAmount | number }} )
                        </span>
                      </mat-label>
                      <input
                        matInput
                        type="number"
                        [(ngModel)]="varFatora.paidAmount"
                        placeholder=" المبلغ المدفوع"
                        required
                        (keyup.enter)="
                          varFatora.paidAmount = varFatora.paidAmount * 1000
                        "
                      />
                      <mat-icon matSuffix> دع </mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <button
                      type="button"
                      color="warn"
                      class="btn btn-danger fs-5 m-3"
                      (click)="selectedIndex = 0"
                    >
                      الغاء
                    </button>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <button
                      matTooltip=" تسجيل شراء المواد"
                      type="button"
                      [disabled]="
                        dSItems.data.length === 0 ||
                        varFatora.agentTitle === undefined ||
                        isValid(varFatora) ||
                        showSpinner
                      "
                      class="btn btn-primary fs-5 m-3"
                      (click)="onSubmit()"
                    >
                      <i class="fa fa-save"></i>
                      تسجيل شراء المواد

                      <div
                        *ngIf="showSpinner"
                        class="spinner-border spinner-border-sm"
                      ></div>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field
                      class="example-full-width mb-3"
                      appearance="outline"
                    >
                      <mat-label>الملاحضات</mat-label>
                      <textarea
                        matInput
                        [(ngModel)]="varFatora.comments"
                        class="description-area"
                      >
                      </textarea>
                    </mat-form-field>
                  </div>
                </div>

                <!-- المستندات -->
                <div class="row">
                  <h6 class="social-login-title">صورة المستندات</h6>
                  <div
                    *ngFor="let x of varFatora.documents; index as i"
                    class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2 d-flex justify-content-center"
                  >
                    <div class="img-container position-relative">
                      <span
                        role="button"
                        matTooltip="حذف الصورة"
                        class="position-absolute delete-icon-container"
                        style="color: red"
                        (click)="removeResetPicture(i)"
                      >
                        <mat-icon>cancel</mat-icon>
                      </span>

                      <img
                        [src]="x?.obj?.value"
                        class="img-thumbnail rounded"
                        (click)="imgClick(x)"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="file-btn-container container-auth-form-btn">
                      <button
                        mat-raised-button
                        type="button"
                        color="primary"
                        class="btn-space"
                        (click)="selectPicture.click()"
                      >
                        <i class="bi bi-window-plus"></i>

                        اضافة صورة من الملفات
                      </button>

                      <button
                        mat-raised-button
                        color="accent"
                        (click)="addImageFromWebcam()"
                      >
                        صورة من كامرا
                        <mat-icon>photo_camera</mat-icon>
                      </button>

                      <input
                        #selectPicture
                        type="file"
                        accept="image/*"
                        onclick="this.value = null"
                        (change)="resetFromLocalFiles(selectPicture.files)"
                        style="display: none"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
