::ng-deep .mat-mdc-tab-group > .mat-mdc-tab-header {
  display: none;
}

mat-option,
button,
.example-full-width,
mat-select {
  font-family: "Cairo", serif;
}

p span {
  display: block;
}
mat-header-cell,
th {
  font-weight: bolder;
}
.mat-column-seq {
  flex: 0 0 50px;
}
