::ng-deep .mat-mdc-tab-group > .mat-mdc-tab-header {
  display: none;
}
// div.col-xl-9,
// div.col-xl-6,
// div.col-xl-3,
// div.col-xl-2,
// div.col-xl-8,
// div.col-xl-4 {
//   margin-top: -25px;
// }

mat-option,
mat-radio-button,
.mdc-label,
.optSelect,
button,
mat-select {
  font-family: "Cairo", serif;
}
.optSelect {
  font-size: large;
  display: inline;
}
p span {
  display: block;
}
mat-header-cell {
  font-weight: bolder;
}
.mat-column-seq {
  flex: 0 0 50px;
}

.denar {
  display: block;
  color: orangered;
}
.dollar {
  display: block;
  color: green;
}

mat-radio-button {
  display: block;
}

app-my-auto-complete,
mat-radio-button mat-form-field {
  width: 500px;
}

p span {
  display: inline;
}

h5 span {
  display: inline;
}

tr th {
  font-weight: bold;
  font-size: large;
  text-align: center;
}

td span {
  text-align: center;
}

.move11 {
  animation-name: move11;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes move11 {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
