<mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
  <mat-label> {{ placeholder }} </mat-label>

  @if (required !== undefined) {
  <input type="text" matInput [formControl]="autoFormControl" [matAutocomplete]="auto1" [(ngModel)]="selectedText"
    (blur)="onBlur()" required />
  } @if (required === undefined) {
  <input type="text" matInput [formControl]="autoFormControl" [matAutocomplete]="auto1" [(ngModel)]="selectedText"
    (blur)="onBlur()" />
  }
  <mat-autocomplete #auto1="matAutocomplete" [displayWith]="disFnAnsweredTo.bind(this)">
    @for (option of (filterAnsweredTo | async) ?? []; track $index) {
    <mat-option [value]="option">
      @if (dataKey !== '') {
      <span>{{ option[dataKey] }} </span>
      } @if (dataKey === '') {
      <span>{{ option }} </span>
      }
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>