<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about carioFomt">{{ title }}</div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="carioFomt">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
        <span>
          @if (data.fatoraType === 1) {
          <strong>اسم البائع :</strong>
          } @if (data.fatoraType === 2) {
          <strong>اسم العميل :</strong>
          }
          {{ data.agentTitle }}
        </span>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 mb-2">
        <span>
          <strong> الوقت والتاريخ :</strong>
          {{ data.dateAt | date : "yyyy-MM-dd hh:mm a" }}
        </span>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
        <span>
          <strong> الرقم :</strong>
          {{ data.id }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
        <span>
          <strong> مبلغ الفاتورة :</strong>

          {{ data.totalPrice | number }} دع
        </span>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-2">
        <span>
          <strong> مبلغ المدفوع :</strong>

          {{ data.paidAmount | number }} دع
        </span>
      </div>
    </div>
    <h6 class="social-login-title">قائمة المواد</h6>

    <div class="responsive_table">
      <table class="table" width="auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">اسم المادة</th>
            <th scope="col">الوزن</th>
            <th scope="col">سعر المفرد</th>
            <th scope="col">المجموع</th>
          </tr>
        </thead>
        <tbody>
          @for (x of data.items; track $index; let i = $index) {
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ x.rawMaterialTitle }} {{ x.productItemTitle }}</td>
            <td>{{ x.quantity }}</td>

            <td>{{ x.unitCostPrice | number }} دع</td>
            <td>{{ x.unitCostPrice * x.quantity | number }} دع</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="row">
      <h6 class="social-login-title">صورة المستندات</h6>
      @for (x of data.documents; track $index; let i = $index) {
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="img-container position-relative">
          <img [src]="x?.img" class="img-thumbnail rounded" (click)="imgClick(x)" />
        </div>
      </div>
      }
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <div class="example-button-row" align="end">
          <button mat-raised-button color="warn" (click)="onNoClick()" [mat-dialog-close]="undefined" tabindex="-1">
            غلق النافذة
          </button>
        </div>
      </div>
    </div>
  </div>
</div>