<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
    <button
      mat-icon-button
      (click)="dialogRef.close()"
      class="modal-close-button"
      aria-label="Close dialog"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form
      class="register-form m-4"
      [formGroup]="groupForm"
      (ngSubmit)="(submit)"
    >
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>كلمة المرور الحالية</mat-label>
            <input
              matInput
              type="password"
              formControlName="currentPassword"
              required
            />
            <mat-icon
              class="material-icons-two-tone material-symbols-outlined color-icon p-3"
              matSuffix
              >phone</mat-icon
            >
            <mat-error
              *ngIf="groupForm.get('currentPassword')?.hasError('required')"
            >
              هذا الحقل مطلوب
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>كلمة المرور الجديدة</mat-label>
            <input
              matInput
              type="password"
              formControlName="newPassword1"
              required
            />
            <mat-icon
              class="material-icons-two-tone material-symbols-outlined color-icon p-3"
              matSuffix
              >phone</mat-icon
            >
            <mat-error
              *ngIf="groupForm.get('newPassword1')?.hasError('required')"
            >
              هذا الحقل مطلوب
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> اعد كلمة المرور الجديدة</mat-label>
            <input
              matInput
              type="password"
              formControlName="newPassword2"
              required
            />
            <mat-icon
              class="material-icons-two-tone material-symbols-outlined color-icon p-3"
              matSuffix
              >phone</mat-icon
            >
            <mat-error
              *ngIf="groupForm.get('newPassword2')?.hasError('required')"
            >
              هذا الحقل مطلوب
            </mat-error>
          </mat-form-field>

          <mat-error
            *ngIf="
              groupForm.get('newPassword1')!.value !==
              groupForm.get('newPassword2')!.value
            "
            class="carioFont"
          >
            كلمة المرور غير مطابقة
          </mat-error>

          <mat-error
            *ngIf="
              groupForm.get('newPassword1')!.value ===
                groupForm.get('newPassword2')!.value &&
              groupForm.get('newPassword2')!.value !== null &&
              groupForm.get('newPassword1')!.value !== null
            "
            class="carioFont"
          >
            <p *ngIf="!regex.test(groupForm.get('newPassword2')!.value)">
              كلمة المرور ضعيفة وسهلة الاختراق . يجب ان تكون اقل طول 8 احرف
              وتحتوي على حروف كبيرة وصغيرة وارقام ورموز خاصة
            </p>
          </mat-error>
        </div>
      </div>
      <hr />

      <!--   || !regex.test(groupForm.get('newPassword2')!.value) -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button
              mat-raised-button
              color="primary"
              [disabled]="
                !groupForm.valid ||
                !(
                  groupForm.get('newPassword1')!.value ===
                  groupForm.get('newPassword2')!.value
                )
              "
              [mat-dialog-close]="groupForm.getRawValue()"
              (click)="confirmAdd()"
            >
              تغيير كلمة المرور
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="onNoClick()"
              [mat-dialog-close]="undefined"
              tabindex="-1"
            >
              الغاء
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
