<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title"> </app-breadcrumb>
    </div>

    <div class="row">
      <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>البحث</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input">
                        <i class="material-icons search-icon" matSuffix>
                          search</i
                        >
                      </label>
                      <input
                        placeholder="اكتب شيء للبحث"
                        type="text"
                        matInput
                        (keyup)="applyFilter($event)"
                        class="browser-default search-field"
                        aria-label="Search box"
                      />
                    </li>
                  </ul>
                </div>
                <div class="right" style="margin-top: 20px">
                  <!-- <button
                    type="button"
                    class="btn btn-danger"
                    (click)="disableAllUser()"
                    style="margin-left: 10px"
                  >
                    <i class="fa fa-user-slash"></i>
                    تعطيل الحسابات
                  </button> -->

                  <button
                    matTooltip=" تسجيل مستخدم"
                    type="button"
                    class="btn btn-warning"
                    (click)="addNew()"
                  >
                    <i class="fa fa-plus"></i>
                    تسجيل مستخدم
                  </button>
                </div>
              </div>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-cell advance-table"
                  >
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index">
                        <span class="mobile-label"> التسلسل:</span>
                        {{ pagi.pageIndex * pagi.pageSize + i + 1 }}</mat-cell
                      > </ng-container
                    ><ng-container matColumnDef="username">
                      <mat-header-cell *matHeaderCellDef>
                        اسم دخول المستخدم
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> اسم دخول المستخدم:</span>
                        {{ row.username }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                      <mat-header-cell *matHeaderCellDef>
                        الاسم الثلاثي
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الاسم الثلاثي:</span>
                        {{ row.firstName }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phoneNumber">
                      <mat-header-cell *matHeaderCellDef>
                        رقم الهاتف
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> رقم الهاتف:</span>
                        {{ row.phoneNumber }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="privilege">
                      <mat-header-cell *matHeaderCellDef>
                        المنصب
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">المنصب:</span>
                        {{ row.privilegeDic }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="branchTitle">
                      <mat-header-cell *matHeaderCellDef>
                        اسم الفرع
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label">اسم الفرع:</span>
                        {{ row.branchTitle }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0"
                        >الاجراء</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="pr-0"
                      >
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="editCall(row)"
                          class="tbl-action-btn"
                          matTooltip="تعديل"
                        >
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          >
                          </app-feather-icons>
                        </button>

                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          (click)="deleteItem(i, row)"
                          class="tbl-action-btn"
                          matTooltip="حذف"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          >
                          </app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      (click)="showInfo(row)"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                  </table>
                  <!-- Loading spinner -->
                  <div *ngIf="showSpinner" class="tbl-spinner">
                    <mat-progress-spinner
                      color="warning"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <div
                    *ngIf="showSpinner"
                    class="no-results"
                    [style.display]="
                      dataSource.filteredData.length === 0 ? '' : 'none'
                    "
                  >
                    No results
                  </div>
                  <mat-paginator
                    #pagi
                    [length]="dataSource.filteredData.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="2" *ngIf="selectedIndex === 1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>{{ caption }}</h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="selectedIndex = 0"
                        >
                          <i class="fa fa-arrow-right"></i> رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="m-4">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> اسم دخول المستخدم </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="curUser.username"
                          placeholder="اسم دخول المستخدم"
                          required
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>المنصب</mat-label>
                        <mat-select [(ngModel)]="curUser.privilege" required>
                          <mat-option value="admin"> ادمن </mat-option>
                          <mat-option value="accountant"> محاسب </mat-option>
                          <mat-option value="storeKeeper">
                            مسؤول مخزن
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> الاسم الثلاثي </mat-label>
                        <input
                          matInput
                          type="text"
                          [(ngModel)]="curUser.firstName"
                          placeholder="الاسم الثلاثي"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label> رقم الهاتف </mat-label>
                        <input
                          [(ngModel)]="curUser.phoneNumber"
                          matInput
                          type="text"
                          placeholder="رقم الهاتف"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>اسم الفرع</mat-label>
                        <mat-select [(ngModel)]="curUser.branch">
                          <mat-option value=""> --- </mat-option>
                          <mat-option
                            *ngFor="let x of branchesList"
                            [value]="x.id"
                          >
                            {{ x.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <mat-label>نوع الصلاحية </mat-label>
                        <mat-select [(ngModel)]="curUser.permission">
                          <mat-option
                            *ngFor="let x of permissionList"
                            [value]="x.id"
                          >
                            {{ x.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-3">
                      <button
                        class="btn-space"
                        [disabled]="
                          curUser.firstName === '' ||
                          curUser.username === '' ||
                          curUser.privilege === ''
                        "
                        mat-raised-button
                        (click)="onSubmit()"
                        color="primary"
                      >
                        حفظ البيانات
                      </button>

                      <button
                        type="button"
                        mat-raised-button
                        color="warn"
                        (click)="selectedIndex = 0"
                      >
                        الغاء
                      </button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                      <div
                        *ngIf="curUser.id"
                        class="m-l-10"
                        matTooltip="تغيير كلمة المرور الى 12345"
                      >
                        <button
                          type="button"
                          class="btn btn-warning"
                          (click)="resetPassword()"
                        >
                          تصفير كلمة المرور
                        </button>
                      </div>

                      <div *ngIf="curUser.id" class="m-l-10">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="disableEnableUser()"
                          style="margin-right: 10px"
                        >
                          <i class="fa fa-user-slash"></i>
                          <span *ngIf="this.curUser.enable"> تعطيل الحساب</span>
                          <span *ngIf="!this.curUser.enable">
                            تمكين الحساب</span
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
