<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="title"> </app-breadcrumb>
    </div>

    <div class="row">
      <mat-tab-group [selectedIndex]="selectedIndex">
        <mat-tab label="1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="p-2">
              <h3>المجموع : {{ totalDenar | number }} دع</h3>
            </div>
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left ms-0">
                    <li class="tbl-title">
                      <h2>البحث</h2>
                    </li>
                    <li class="tbl-search-box">
                      <label for="search-input">
                        <i class="material-icons search-icon" matSuffix>
                          search</i>
                      </label>
                      <input placeholder="اكتب شيء للبحث" type="text" matInput (keyup)="applyFilter($event)"
                        class="browser-default search-field" aria-label="Search box" />
                    </li>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn"></li>

                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip=" تسجيل عميل">
                        <button type="button" class="btn btn-warning" (click)="addNew()">
                          <i class="fa fa-plus"></i>
                          تسجيل عميل
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body overflow-auto">
                <div class="responsive_table">
                  <table mat-table [dataSource]="dataSource" class="mat-cell advance-table">
                    <ng-container matColumnDef="seq">
                      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index">
                        <span class="mobile-label"> التسلسل:</span>
                        {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
                      </mat-cell> </ng-container><ng-container matColumnDef="title">
                      <mat-header-cell *matHeaderCellDef>
                        اسم العميل
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> اسم العميل:</span>
                        {{ row.title }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                      <mat-header-cell *matHeaderCellDef>
                        العنوان
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> العنوان:</span>
                        {{ row.address }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="phoneNumber">
                      <mat-header-cell *matHeaderCellDef>
                        رقم الهاتف
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> رقم الهاتف:</span>
                        {{ row.phoneNumber }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="initDenar">
                      <mat-header-cell *matHeaderCellDef>
                        بداية الرصيد
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> بداية الرصيد :</span>
                        <div class="dispVert">
                          <span [ngClass]="{ denar: row.initDenar < 0 }">
                            {{ row.initDenar | number }} دع
                          </span>
                        </div>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="denar">
                      <mat-header-cell *matHeaderCellDef>
                        الرصيد
                      </mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <span class="mobile-label"> الرصيد :</span>
                        <div class="dispVert">
                          <span [ngClass]="{ denar: row.denar < 0 }">
                            {{ row.denar | number }} دع

                            <button *ngIf="row.denar < 0" mat-button (click)="$event.stopPropagation()"
                              (click)="payAmountBox(row)" matTooltip="تسديد المبلغ" color="primary">
                              تسديد المبلغ
                              <app-feather-icons [icon]="'dollar-sign'" [class]="'tbl-fav-edit'">
                              </app-feather-icons>

                              <div *ngIf="row.spinner" class="spinner-border spinner-border-sm"></div>
                            </button>
                          </span>
                        </div>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef class="pr-0">الاجراء</mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index" class="pr-0">
                        <button mat-icon-button color="secondry" (click)="$event.stopPropagation()"
                          (click)="detailsProject(row)" class="tbl-action-btn" matTooltip="التفاصيل">
                          <app-feather-icons [icon]="'info'" [class]="'tbl-fav-edit'">
                          </app-feather-icons>
                        </button>

                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                          (click)="editCall(row)" class="tbl-action-btn" matTooltip="تعديل">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'">
                          </app-feather-icons>
                        </button>
                        <button *ngIf="row.denar === 0" mat-icon-button color="accent"
                          (click)="$event.stopPropagation()" (click)="deleteItem(i, row)" class="tbl-action-btn"
                          matTooltip="حذف">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'">
                          </app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="showInfo(row)"
                      [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </table>
                  <!-- Loading spinner -->
                  <div *ngIf="showSpinner" class="tbl-spinner">
                    <mat-progress-spinner color="accent" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div>
                  <div *ngIf="showSpinner" class="no-results" [style.display]="
                      dataSource.filteredData.length === 0 ? '' : 'none'
                    ">
                    No results
                  </div>
                  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="2" *ngIf="selectedIndex === 1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>{{ caption }}</h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button type="button" class="btn btn-danger" (click)="selectedIndex = 0">
                          <i class="fa fa-arrow-right"></i> رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <form class="m-4" [formGroup]="gFormGroup" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label> اسم العميل </mat-label>
                        <input matInput type="text " formControlName="title" placeholder="اسم العميل" required />
                        <mat-error *ngIf="gFormGroup.get('title')?.hasError('required')">
                          هذا الحقل مطلوب
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label> العنوان </mat-label>
                        <input matInput type="text " formControlName="address" placeholder="العنوان" required />
                        <mat-error *ngIf="
                            gFormGroup.get('address')?.hasError('required')
                          ">
                          هذا الحقل مطلوب
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label> رقم الهاتف </mat-label>
                        <input matInput type="text " formControlName="phoneNumber" placeholder="رقم الهاتف" required />
                        <mat-error *ngIf="
                            gFormGroup.get('phoneNumber')?.hasError('required')
                          ">
                          هذا الحقل مطلوب
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>
                          بداية الرصيد بالدينار
                          <span *ngIf="gFormGroup.get('initDenar')!.value > 0" style="color: red; font-size: 150%">
                            (
                            {{ gFormGroup.get("initDenar")!.value | number }} )
                          </span>
                        </mat-label>
                        <input matInput type="number" formControlName="initDenar" placeholder="بداية الرصيد بالدينار"
                          required (keyup.enter)="
                            gFormGroup
                              .get('initDenar')!
                              .setValue(
                                gFormGroup.get('initDenar')!.value * 1000
                              )
                          " />
                        <mat-error *ngIf="
                            gFormGroup.get('initDenar')?.hasError('required')
                          ">
                          هذا الحقل مطلوب
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <button class="btn-space" [disabled]="!gFormGroup.valid || showSpinner" mat-raised-button
                        color="primary">
                        حفظ البيانات
                      </button>
                      <button type="button" mat-raised-button color="warn" (click)="selectedIndex = 0">
                        الغاء
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="2" *ngIf="selectedIndex === 2">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="materialTableHeader">
                <div class="left">
                  <ul class="header-buttons-left m-r-10">
                    <h5>
                      {{ caption }}

                      <span class="denar">
                        {{ currRowDetails.denar | number }} دع</span>
                    </h5>
                  </ul>
                </div>
                <div class="right">
                  <ul class="tbl-export-btn">
                    <li class="tbl-header-btn">
                      <div class="m-l-10" matTooltip="رجوع">
                        <button type="button" class="btn btn-danger" (click)="selectedIndex = 0">
                          <i class="fa fa-arrow-right"></i> رجوع
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="body">
                <div class="overflow-auto">
                  <div class="responsive_table">
                    <table mat-table [dataSource]="dsBoxDet" class="mat-cell advance-table">
                      <ng-container matColumnDef="seq">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index">
                          <span class="mobile-label"> التسلسل:</span>
                          {{ i + 1 }}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="denar">
                        <mat-header-cell *matHeaderCellDef>
                          الرصيد
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الرصيد :</span>
                          <span class="denar">
                            {{ row.denar | number }} دع</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef>
                          المبلغ
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> المبلغ :</span>
                          <span class="denar">
                            {{ row.amount | number }} دع</span>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="inOut">
                        <mat-header-cell *matHeaderCellDef>
                          العملية
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> العملية</span>
                          {{ row.inOut }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="toFrom">
                        <mat-header-cell *matHeaderCellDef>
                          الجهة
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الجهة</span>
                          {{ row.toFrom }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="toText">
                        <mat-header-cell *matHeaderCellDef>
                          الى حساب
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الى حساب</span>
                          {{ row.toText }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="date">
                        <mat-header-cell *matHeaderCellDef>
                          التاريخ
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> التاريخ:</span>
                          {{ row.date | date : "yyyy-MM-dd" }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="comments">
                        <mat-header-cell *matHeaderCellDef>
                          الملاحظات
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <span class="mobile-label"> الملاحظات:</span>
                          {{ row.comments }}
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="dipBoxDetaise"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: dipBoxDetaise" (click)="showInfo(row)"
                        [style.cursor]="'pointer'" matRipple>
                      </mat-row>
                    </table>

                    <mat-paginator #pagDetails [length]="dsBoxDet.data.length" [pageIndex]="0" [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>